In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl
% matplotlib inline

# ~/Dropbox/6.\ Python/Python\ Projects/StockData/Financial-Stock-Data-Visual

#the objective of this is to get stock data to enable us to produce the statistics that we want
#for this we will use quandl - it is easy to use and has its own package

quandl.ApiConfig.api_key = 'XXXXXXX'
quandl.ApiConfig.api_version = '2015-04-09'

In [9]:
available_tickers = pd.read_csv('Data/ticker_list.csv')
available_tickers_full = available_tickers
available_tickers = available_tickers[['ticker']]

print(available_tickers)

     ticker
0      AAPL
1       ABC
2        AA
3      ABBV
4       ACE
5       AGN
6       ADP
7      ADSK
8       ABT
9       AEE
10      ACN
11      AEP
12     ADBE
13      AET
14      ADI
15      ADM
16      ADS
17      AIV
18      ADT
19      ALL
20      AES
21     ALTR
22     ALXN
23      AFL
24     AMAT
25      AIG
26     AMGN
27      AIZ
28      AMT
29     AKAM
...     ...
3169   BXLT
3170   CPGX
3171   PYPL
3172    KHC
3173    WRK
3174    HPE
3175    SYF
3176   CSRA
3177   WLTW
3178    CFG
3179   GSBD
3180   SPGI
3181    FTV
3182   UA_C
3183   ARNC
3184    MAA
3185    UAA
3186    DXC
3187   INFO
3188    HLT
3189   BHGE
3190   ANDV
3191    BHF
3192   DWDP
3193    TPR
3194    IQV
3195   APTV
3196   WELL
3197   BKNG
3198   CBRE

[3199 rows x 1 columns]

In [10]:
import datetime

In [11]:
today = str(datetime.date.today())
curr_year = int(today[:4])

print(curr_year)

2018

In [12]:
available_tickers.head()

  ticker
0   AAPL
1    ABC
2     AA
3   ABBV
4    ACE

In [13]:
ticker = 'JPM'

In [16]:
ticker_confirm = available_tickers_full.loc[available_tickers_full['ticker'] == ticker, 'Company']
print(ticker_confirm)

3164    JP Morgan Chase (JPM) Prices, Dividends, Split...
Name: Company, dtype: object

In [18]:
stock_data = quandl.get_table('WIKI/PRICES', ticker = ticker, 
                    qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                    date = { 'gte': '2018-01-01', 'lte': '2018-07-15' })

In [21]:
print(stock_data.tail(20))

     ticker       date  adj_close
None
39      JPM 2018-02-28     115.50
40      JPM 2018-03-01     113.43
41      JPM 2018-03-02     113.32
42      JPM 2018-03-05     115.06
43      JPM 2018-03-06     115.16
44      JPM 2018-03-07     114.73
45      JPM 2018-03-08     114.74
46      JPM 2018-03-09     118.04
47      JPM 2018-03-12     117.66
48      JPM 2018-03-13     116.25
49      JPM 2018-03-14     114.95
50      JPM 2018-03-15     115.24
51      JPM 2018-03-16     115.44
52      JPM 2018-03-19     114.53
53      JPM 2018-03-20     114.64
54      JPM 2018-03-21     114.74
55      JPM 2018-03-22     109.95
56      JPM 2018-03-23     107.01
57      JPM 2018-03-26     110.31
58      JPM 2018-03-27     108.17

In [23]:
print(stock_data)

     ticker       date  adj_close
None
0       JPM 2018-01-02     107.95
1       JPM 2018-01-03     108.06
2       JPM 2018-01-04     109.04
3       JPM 2018-01-05     108.34
4       JPM 2018-01-08     108.50
5       JPM 2018-01-09     109.05
6       JPM 2018-01-10     110.25
7       JPM 2018-01-11     110.84
8       JPM 2018-01-12     112.67
9       JPM 2018-01-16     112.27
10      JPM 2018-01-17     112.99
11      JPM 2018-01-18     113.26
12      JPM 2018-01-19     113.01
13      JPM 2018-01-22     114.33
14      JPM 2018-01-23     114.21
15      JPM 2018-01-24     115.67
16      JPM 2018-01-25     115.70
17      JPM 2018-01-26     116.32
18      JPM 2018-01-29     116.20
19      JPM 2018-01-30     115.11
20      JPM 2018-01-31     115.67
21      JPM 2018-02-01     116.87
22      JPM 2018-02-02     114.28
23      JPM 2018-02-05     108.80
24      JPM 2018-02-06     112.11
25      JPM 2018-02-07     112.87
26      JPM 2018-02-08     107.88
27      JPM 2018-02-09     110.04
28      JPM 2018-02-12     111.74
29      JPM 2018-02-13     112.43
30      JPM 2018-02-14     115.03
31      JPM 2018-02-15     115.51
32      JPM 2018-02-16     114.68
33      JPM 2018-02-20     114.71
34      JPM 2018-02-21     115.19
35      JPM 2018-02-22     114.98
36      JPM 2018-02-23     117.31
37      JPM 2018-02-26     118.77
38      JPM 2018-02-27     117.36
39      JPM 2018-02-28     115.50
40      JPM 2018-03-01     113.43
41      JPM 2018-03-02     113.32
42      JPM 2018-03-05     115.06
43      JPM 2018-03-06     115.16
44      JPM 2018-03-07     114.73
45      JPM 2018-03-08     114.74
46      JPM 2018-03-09     118.04
47      JPM 2018-03-12     117.66
48      JPM 2018-03-13     116.25
49      JPM 2018-03-14     114.95
50      JPM 2018-03-15     115.24
51      JPM 2018-03-16     115.44
52      JPM 2018-03-19     114.53
53      JPM 2018-03-20     114.64
54      JPM 2018-03-21     114.74
55      JPM 2018-03-22     109.95
56      JPM 2018-03-23     107.01
57      JPM 2018-03-26     110.31
58      JPM 2018-03-27     108.17

In [26]:
stock_data_chart = stock_data[['date', 'adj_close']]

In [28]:
print(stock_data_chart)

           date  adj_close
None
0    2018-01-02     107.95
1    2018-01-03     108.06
2    2018-01-04     109.04
3    2018-01-05     108.34
4    2018-01-08     108.50
5    2018-01-09     109.05
6    2018-01-10     110.25
7    2018-01-11     110.84
8    2018-01-12     112.67
9    2018-01-16     112.27
10   2018-01-17     112.99
11   2018-01-18     113.26
12   2018-01-19     113.01
13   2018-01-22     114.33
14   2018-01-23     114.21
15   2018-01-24     115.67
16   2018-01-25     115.70
17   2018-01-26     116.32
18   2018-01-29     116.20
19   2018-01-30     115.11
20   2018-01-31     115.67
21   2018-02-01     116.87
22   2018-02-02     114.28
23   2018-02-05     108.80
24   2018-02-06     112.11
25   2018-02-07     112.87
26   2018-02-08     107.88
27   2018-02-09     110.04
28   2018-02-12     111.74
29   2018-02-13     112.43
30   2018-02-14     115.03
31   2018-02-15     115.51
32   2018-02-16     114.68
33   2018-02-20     114.71
34   2018-02-21     115.19
35   2018-02-22     114.98
36   2018-02-23     117.31
37   2018-02-26     118.77
38   2018-02-27     117.36
39   2018-02-28     115.50
40   2018-03-01     113.43
41   2018-03-02     113.32
42   2018-03-05     115.06
43   2018-03-06     115.16
44   2018-03-07     114.73
45   2018-03-08     114.74
46   2018-03-09     118.04
47   2018-03-12     117.66
48   2018-03-13     116.25
49   2018-03-14     114.95
50   2018-03-15     115.24
51   2018-03-16     115.44
52   2018-03-19     114.53
53   2018-03-20     114.64
54   2018-03-21     114.74
55   2018-03-22     109.95
56   2018-03-23     107.01
57   2018-03-26     110.31
58   2018-03-27     108.17